
import React, { useState } from 'react';
import { View, Text, Button } from 'react-native';

const App = () => {
  const [information, setInformation] = useState('');

  const handleButtonPress = () => {
    setInformation('abdullah nofal\n138122');
  };

  return (
    <View style={{ flex: 1, justifyContent: 'center', alignItems: 'center' }}>
      <Text>{information}</Text>
      <Button title="free palestine" onPress={handleButtonPress} />
    </View>
  );
};

export default App;
